@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,700&family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8em;
    color: #585160;
	margin: 0 auto !important; 
	float: none !important; 
}

/* type */

h1 {
    font-size: 3.05rem;
}

h2 {
    font-size: 2.44375rem;
}

h3 {
    font-size: 1.95625rem;
}

h1, h2, h3, h4, h5{
    font-family: Arvo, Cambria, Cochin, serif;
    letter-spacing: 4px;
    color: #001F3F;
    line-height: 1.4em;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

p {
    padding-bottom: 1rem;
}

.caption {
    font-size: 0.8rem;
    color: #85144B;
    text-transform: uppercase;
    padding-bottom: 0;
}

ol {
    padding-left: 3em;
}


/*buttons*/

.btn, button {
    border: none;
    border-radius: 5px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    padding: 1em;
    cursor: pointer;
    min-width: 120px;
    box-sizing: border-box;
    width: 100%;
    margin: auto;
}

button a {
    text-decoration: none;
}

button:hover {
    opacity: .75;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-maroon {
    color: #ffffff;
    background-color: #85144B;
}

.btn-maroon-outline {
    color: #85144B;
    background-color: #ffffff;
    border: 2px solid #85144B;
}

.btn-orange {
    color: #001F3F;
    background-color: #FF851B;
}

.hyper-link {
    color: #85144B;
    text-decoration: underline;
    text-align: center;
    font-weight: 700;
    width: 100%;
    margin: auto;
}


/*hr & tables*/

hr {
    border-top: 1px solid #DEDCDF;
    width: 100%;
    margin-top: 1em;
}

table {
    width: 100%;
    padding: 1em 0 1em 0;
    box-sizing: border-box;
    margin: auto;
}

    tr {
        text-align: left;
        padding-bottom: 1rem;
        vertical-align: top;
    }
    
    td {
        padding-left: 1rem;
    }


/* images */

img {
    width: 100%;
    border-radius: 5px;
}


/* header (main navigation and logo) */

header {
    width: 100%;
    max-width: 1280px;
    padding: 2em 1em 1em 1em;
    display: inline-block;
    margin: auto;
    box-sizing: border-box;
}

#logo {
    color: #FF851B;
    font-size: 3.75rem;
    font-weight: 700;
    text-align: center;
    font-family: Arvo, Cambria, Cochin, serif;
    letter-spacing: 0.25rem;
}

    #logo i {
        font-size: 2.75rem;
    }

/* page titles */

#page-title {
    padding: 1em;
    width: 100%;
    max-width: 1280px;
    box-sizing: border-box;
    margin: auto;
}

    #page-title h2 {
        color: #585160;
        padding-bottom: 1rem;
    }

    #page-title h3 {
        padding-bottom: 1rem;
        color: #585160;
    }

/* hero image and text */

/* hero */

#hero-outer {
    width: 100%;
    position: relative;
    overflow: hidden;
}

#hero-image {
    height: 540px;
    background: linear-gradient(rgba(0, 31, 63, 0.5), rgba(0, 31, 63, 0.5)), url('../images/hero_image.jpg') no-repeat center center;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

    @keyframes hero-zoom {
        from{
            transform: scale(1.5);
        }
        to{
            transform: scale(1.6);
        }
    }


#cover-text {
    text-align: center;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#cover-text h1 {
    color: #FF851B;
}

#cover-text p {
    color: #ffffff;
    font-weight: 700;
    padding-bottom: 2rem
}

/*section & containers */

section {
    padding: 1em;
    box-sizing: border-box;
    object-fit: fill;
}

    section h2 {
        margin-bottom: 0.5em;
    }

    section img {
        object-fit: cover;
        overflow: hidden;
    }

.two-col {
    align-items: center;
    max-width: 1280px;
}

    .two-col div, .two-col img {
        width: 100%;
        box-sizing: border-box;
    }

    .two-col img {
        object-fit: cover;
        overflow: hidden;
    }


/* learn about breeds */

#about-breeds {
    background: 
    linear-gradient(to bottom,  rgba(255, 255, 255, .7),  rgba(255, 255, 255, .7)),
    url('../images/about-breeds.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    overflow: hidden;
}

     #about-breeds h2 {
        color: #85144B;
        text-align: center;
    }

.breeds {
    width: 100%;
    max-width: 1280px;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 4em;
}


/*meet the two dogs page*/

#meet {
    background-color: #85144B;
}

    #meet h2 {
        color: #FF851B;
    }

    #meet p {
        color: #ffffff;
    }


/* dog profiles */

.dog-profiles {
    padding: 1em 0 1em 0;
}

    
    .dog-profiles h3 {
        text-align: center;
        padding: 1em 0 0.5em 0;
    }

.circle-container {
    width: 240px;
    height: 240px;
    border-style: solid;
    border-color: #FF851B;
    border-width: 3px;
    border-radius: 50%;
    margin: auto;
}

#circle-cover-eric {
    background: url('../images/eric.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#circle-cover-jim {
    background: url('../images/jim.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}


/*tails of two dogs blog page*/

#blog-gallery {
    column-count: 1;
    margin: auto;
    display: block;
    padding: 1em;
}

    #blog-gallery img {
        height: 320px;
        object-fit: cover;
    }

    #blog-gallery p {
        padding-bottom: 1em;
    }

    #blog-gallery hr {
        width: 100%;
        margin-bottom: 3em;
    }

#blog {
    width: 100%;
    box-sizing: border-box;
    margin: 1em 0 1em 0;
    display: flex;
    align-items:center;
}

    #blog div {
        width: 50%;
    }

#blog-post {
    max-width: 800px;
    margin: auto;
    padding: 1em;
}

    .blog-post-img {
        height: 400px;
        object-fit: cover;
    }

    .img-text > img {
        width: 100%;
        margin-bottom: 1em;
    }


/*gallery page*/

#gallery {
    line-height: 0;
    column-count: 1;
    padding: 0 1em 0 1em;
    max-width: 1280px;
    margin: auto;
}

#gallery > img {
    width: 100%;
    margin-bottom: 1em;
}


/* sign up form*/

#sign-up-form {
    max-width: 1280px;
    margin: auto;
    padding: 1em;
}

    #sign-up-form > img {
        object-fit: cover;
    }

form {
    border: 1px solid #85144B;
    border-radius: 5px;
    padding: 1em;
    margin-bottom: 1em;
    box-sizing: border-box;
    list-style: none;
}

*:focus {
    outline: none;
    }

input[type="text"], select {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    color: #585160;
    border: 1px solid #DEDCDF;
    border-radius: 3px;
    padding: 1em .5em 1em .5em;
    margin-bottom: 2em;
}

input[type="email"] {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    color: #585160;
    border: 1px solid #DEDCDF;
    border-radius: 3px;
    padding: 1em .5em 1em .5em;
    margin-bottom: 2em;
}

input[type="text"]:hover, select:hover {
    border: 1px solid #FF851B;
}

input[type="email"]:hover {
    border: 1px solid #FF851B;
}

input[type="text"]:focus, select:focus {
    border: 1px solid #001F3F;
}

input[type="email"]:focus {
    border: 1px solid #001F3F;
}

input[type="text"]:active, select:active {
    border: 1px solid #001F3F;
    appearance: none;
}

input[type="email"]:active {
    border: 1px solid #001F3F;
}

::placeholder {
    color: #DEDCDF;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 400;
  }

label {
    color: #001F3F;
    font-weight: 700;
    background-color: #ffffff;
}

#radio-group {
    padding-bottom: 1em;
}

#radio-group div {
    width: 100%;
    margin-right: 0;
}

#radio-group p {
    font-weight: 700;
    color: #001F3F;
}

/* radio -> */
.container {
    display: block;
    position: relative;
    padding-left: 2em;
    margin-bottom: 1em;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    color: #585160;
    user-select: none;
  }
  
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5em;
    width: 1.5em;
    background-color: #fff;
    border: 1px solid #585160;
    border-radius: 50%;
  }
  
  .container:hover input ~ .radio {
    border: 1px solid #FF851B;
  }
  
  .container input:checked ~ .radio {
    background-color: #fff;
  }
  
  .radio:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .radio:after {
    display: block;
  }
  
  .container .radio:after {
    top: 6px;
    left: 6px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #FF851B;
  }


/* back to top */

.return-options {
    width: 100%;
    display: block;
    margin: auto;
    box-sizing: border-box;
}

    .return-options a {
        padding: 1em .5em;
    }


/*sign up banner*/

#sign-up-banner {
    background-color: #FF851B;
    width: 100%;
    align-content: center;
    margin: auto;
}

/*success*/
  iframe {
    width: 100%;
    height: 160px;
    margin: auto;
  }

/*footer*/

.socials {
    text-align: center;
}

.socials li {
    display: inline;
    margin: 1em;
}

.socials i {
    font-size: 1.5em;
    color: #001F3F;
    padding: 1rem;
}

.socials i:hover {
    opacity: .75;
}

/* media queries */

@media screen and (min-width: 768px) {
    header, .two-col, #sign-up-form, .return-options {
      display: flex;
      width: 100%;
      max-width: 1280px;
      box-sizing: border-box;
      margin: auto;
      padding: 3em;
      gap: 3em;
    }

    #logo {
        font-size: 5rem;
        text-align: left;
        }
    
        #logo i {
            font-size: 4rem;
        }

    #page-title, #about-breeds {
        padding: 3em;
    }

        #page-title p {
            padding: 1.5rem 0 1.5rem 0;
        }

    .btn {
        width: auto;
    }

    .two-col div, .two-col img {
        width: 50%;
        box-sizing: border-box;
    }

    .two-col > img {
        height: 400px;
        object-fit: cover;
    }

    .breeds {
        display: flex;
        box-sizing: border-box;
        margin: auto;
        gap: 3em;
    }

        .breeds p {
            font-weight: 700;
        }

    .dog-profiles {
        width: 65%;
        margin: auto;
    }

    .img-text {
        display: flex;
        box-sizing: border-box;
        align-items: center;
        padding-bottom: 1em;
    }

    .img-text > img {
        width: 50%;
        margin-right: 1em;
    }

    #blog-gallery {
        column-count: 2;
        max-width: 1280px;
        box-sizing: border-box;
        padding: 3em;
        gap: 3em;
    }

    #blog-post {
        padding: 3em;
    }

    #gallery {
        column-count: 2;
        max-width: 1280px;
        box-sizing: border-box;
        padding: 3em;
        gap: 1em;
    }

    form, #sign-up-form img {
        width: 50%;
    }

    iframe {
        width: 50%;
        height: 360px;
      }

}

@media screen and (min-width: 1024px) {
    #two-profiles {
        display: flex;
        max-width: 1280px;
        margin: auto;
        padding: 3em;
    }
    
    .dog-profiles {
        width: 45%;
        margin: auto;
    }

    #blog-gallery, #gallery {
            column-count: 3;
            padding: 3em;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    border: 0;
  }
  
  .menu-toggle {
    display: inline-block;
    padding: .5em;
    line-height: 1rem;
    font-size: 2rem;
    color: #85144B;
    margin-left: auto;
  }
  
  .menu-toggle:hover,
  .menu-toggle:focus {
    color: #85144B;
  }
  
  .main-menu {
    position: absolute;
    display: none;
    left: -200px;
    top: 0;
    height: 100%;
      overflow-x: visible;
      transition: left 0.3s ease,
                        box-shadow 0.3s ease;
      z-index: 999;
  }
  
  .main-menu ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 3em 0 0;
    box-shadow: -8px 0 8px rgba(0,0,0,.5);
    min-height: 100%;
    background: #ffffff;
  }
  
  .main-menu a {
    display: block;
    padding: 1em;
    line-height: 1em;
    font-size: 1em;
    color: #001F3F;
    text-decoration: none;
    border-bottom: .5px solid #585160;
  }
  
  .main-menu a:hover,
  .main-menu a:focus {
    background: #ffffff;
    text-decoration: underline;
  }
  
  .main-menu .menu-close {
    position: absolute;
    text-align: right;
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    height: 3em;
    right: 0;
    top: 0;
  }
  
  .main-menu:target,
  .main-menu[aria-expanded="true"] {
    display: block;
    left: 0;
    outline: none;
    box-shadow: 3px 0 12px rgba(0,0,0,.25);
  }
  
  .main-menu:target .menu-close,
  .main-menu[aria-expanded="true"] .menu-close {
    z-index: 1001;
  }
  
  .main-menu:target ul,
  .main-menu[aria-expanded="true"] ul {
    position: relative;
    z-index: 1000;
  }

  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop{
    position: absolute;
    display: block;  
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background: #001F3F;
    background: rgba(0,31,63,.85);
    cursor: default;
  }
  
  @supports (position: fixed) {
    .main-menu,
    .main-menu:target + .backdrop,
    .main-menu[aria-expanded="true"] + .backdrop{
      position: fixed;
      margin-left: auto;
    }
  }

  @media (min-width: 903px) {
    .menu-toggle,
    .main-menu .menu-close {
      display: none;
    }

    .main-menu {
      position: relative;
          left: auto;
          top: auto;
      display: block;
    }
    
    .main-menu ul {
      display: flex;
      padding: 0;
      box-shadow: none;
      height: auto;
      width: auto;
      background: none;
    }
    
    .main-menu a {
      color: #001F3F;
      border: 0 !important;
    }
    
    .main-menu a:hover,
    .main-menu a:focus {
      background: none;
      text-decoration: underline;
        text-decoration-color: #FF851B;
        text-underline-offset: .25em;
    }
    
  }