/* table */

table {
    width: 100%;
    padding: 1em 0 1em 0;
    box-sizing: border-box;
    margin: auto;
}

    tr {
        text-align: left;
        padding-bottom: 1rem;
        vertical-align: top;
    }
    
    td {
        padding-left: 1rem;
    }

/* hero image and text */
/* hero section courtesy of Code Institute via Love Running */
/* hero */

#hero-outer {
    width: 100%;
    position: relative;
    overflow: hidden;
}

#hero-image {
    height: 540px;
    background: linear-gradient(rgba(0, 31, 63, 0.5), rgba(0, 31, 63, 0.5)), url('../images/hero_image.jpg') no-repeat center center;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

    @keyframes hero-zoom {
        from{
            transform: scale(1.5);
        }
        to{
            transform: scale(1.6);
        }
    }


#cover-text {
    text-align: center;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#cover-text h1 {
    color: #FF851B;
}

#cover-text p {
    color: #ffffff;
    font-weight: 700;
    padding-bottom: 2rem
}

/*section & containers */

section {
    padding: 1em;
    box-sizing: border-box;
    object-fit: fill;
}

    section h2 {
        margin-bottom: 0.5em;
    }

    section img {
        object-fit: cover;
        overflow: hidden;
    }

.two-col {
    align-items: center;
    max-width: 1280px;
}

    .two-col div, .two-col img {
        width: 100%;
        box-sizing: border-box;
    }

    .two-col img {
        object-fit: cover;
        overflow: hidden;
    }


/* learn about breeds */

#about-breeds {
    background: 
    linear-gradient(to bottom,  rgba(255, 255, 255, .7),  rgba(255, 255, 255, .7)),
    url('../images/about-breeds.jpg') no-repeat center center;
    /* Photo by <a href="https://unsplash.com/@hannah15198?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Hannah Lim</a> on <a href="https://unsplash.com/s/photos/breeds?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
    background-size: cover;
    width: 100%;
    overflow: hidden;
}

     #about-breeds h2 {
        color: #85144B;
        text-align: center;
    }

.breeds {
    width: 100%;
    max-width: 1280px;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 4em;
}


/*meet the two dogs page*/

#meet {
    background-color: #85144B;
}

    #meet h2 {
        color: #FF851B;
    }

    #meet p {
        color: #ffffff;
    }


/* dog profiles */

.dog-profiles {
    padding: 1em 0 1em 0;
}

    
    .dog-profiles h3 {
        text-align: center;
        padding: 1em 0 0.5em 0;
    }

/* circle containers and section courtesy of Code Institute via Love Running */
.circle-container {
    width: 240px;
    height: 240px;
    border-style: solid;
    border-color: #FF851B;
    border-width: 3px;
    border-radius: 50%;
    margin: auto;
}

#circle-cover-eric {
    background: url('../images/eric.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#circle-cover-jim {
    background: url('../images/jim.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}





/* back to top */

.return-options {
    width: 100%;
    display: block;
    margin: auto;
    box-sizing: border-box;
}

    .return-options a {
        padding: 1em .5em;
    }


/* sign up banner */

#sign-up-banner {
    background-color: #FF851B;
    width: 100%;
    align-content: center;
    margin: auto;
}

/* success */
  iframe {
    width: 100%;
    height: 160px;
    margin: auto;
  }


/* media queries */

@media screen and (min-width: 768px) {
    .two-col, .return-options {
      display: flex;
      width: 100%;
      max-width: 1280px;
      box-sizing: border-box;
      margin: auto;
      padding: 3em;
      gap: 3em;
    }

    .two-col div, .two-col img {
        width: 50%;
        box-sizing: border-box;
    }

    .two-col > img {
        height: 400px;
        object-fit: cover;
    }

    .breeds {
        display: flex;
        box-sizing: border-box;
        margin: auto;
        gap: 3em;
    }

        .breeds p {
            font-weight: 700;
        }

    .dog-profiles {
        width: 65%;
        margin: auto;
    }

    iframe {
        width: 50%;
        height: 360px;
      }

}

@media screen and (min-width: 1024px) {
    #two-profiles {
        display: flex;
        max-width: 1280px;
        margin: auto;
        padding: 3em;
    }
    
    .dog-profiles {
        width: 45%;
        margin: auto;
    }

}