@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,700&family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8em;
    color: #585160;
	margin: 0 auto !important; 
	float: none !important; 
}

/* containers */

.full-width-background {
    width: 100%;
    box-sizing: border-box;
    padding: 3em;
    margin: auto;
    align-items: center;
    justify-content: center;
    gap: 2em
    }

    .full-width-background > img {
        width: 50%;
        object-fit: cover;
        overflow: hidden;
        border-radius: 5px;
    }

    .full-width-background > div {
        width: 50%;
    }

    .full-width-background iframe {
        padding: -3em;
    }

.max-width-background {
    width: 100%;
    max-width: 1280px;
    box-sizing: border-box;
    padding: 3em;
    margin: auto;
    align-items: center;
    justify-content: center;
    gap: 2em
        }
    
    .max-width-background > img {
        width: 50%;
        height: 400px;
        object-fit: cover;
        overflow: hidden;
        border-radius: 5px;
    }
    
    .max-width-background > div {
        width: 50%;
    }

/* type */

h1 {
    font-size: 3.05rem;
}

h2 {
    font-size: 2.44375rem;
}

h3 {
    font-size: 1.95625rem;
}

h1, h2, h3, h4, h5{
    font-family: Arvo, Cambria, Cochin, serif;
    letter-spacing: 4px;
    color: #001F3F;
    line-height: 1.4em;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

p {
    padding-bottom: 1rem;
}

.caption {
    color: #FF851B;
    text-transform: uppercase;
}


/*buttons*/

button {
    border: none;
    border-radius: 5px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    justify-content: center;
    padding: 0.5em 1em 0.5em 1em;
    cursor: pointer;
    min-height: 3em;
    width: auto;
    min-width: 120px;
}

button a {
    text-decoration: none;
}

button:hover {
    opacity: .75;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-maroon {
    color: #ffffff;
    background-color: #85144B;
}

.btn-maroon-outline {
    color: #85144B;
    background-color: #ffffff;
    border: 2px solid #85144B;
}

.btn-orange {
    color: #001F3F;
    background-color: #FF851B;
}

.hyper-link {
    color: #85144B;
    text-decoration: underline;
    text-align: center;
    font-weight: 700;
    width: 100%;
    margin: auto;
}

/* img */

img {
    width: 100%;
    border-radius: 5px;
}


/*hr*/

hr {
    border: 1px solid #DEDCDF;
    width: 100%;
}


/* header (main navigation and logo) */

header {
    width: 100%;
    max-width: 1280px;
    margin: auto;
    padding: 3em;
    box-sizing: border-box;
}

header div, nav {
    width:50%;
    box-sizing: border-box;
}

#main-nav {
    float: right;
}

#main-nav li {
    float: left;
    list-style-type: none;
    margin-right: 1.5em;
    line-height: 3em;
    vertical-align: middle;
}

#main-nav a {
    text-decoration: none;
    color: #001F3F;
}

#main-nav a:hover {
    border-bottom: 2px solid #FF851B;
}

.active {
    font-weight: 700;
    border-bottom: 2px solid #001F3F;
}

#logo {
    color: #FF851B;
    font-size: 4rem;
    font-weight: 700;
    font-family: Arvo, Cambria, Cochin, serif;
    letter-spacing: 0.25rem;
    float: left;
}

    #logo i {
        font-size: 2.8rem;
    }

header button {
    float: right;
}


/* page titles */

#page-title {
    padding: 2em 3em 2em 3em;
    width: 100%;
    box-sizing: border-box;
    max-width: 1280px;
    margin: auto;
}

#page-title h2 {
    color: #585160;
    padding-bottom: 2rem;
}

#page-title h3 {
    padding-bottom: 2rem;
    color: #585160;
}

#page-title h3 > a {
    text-decoration: underline;
}

/* hero image and text */

/* hero -> Code Institute (25/08/22) Love Running Walkthrough Project  Creating the Hero Image https://learn.codeinstitute.net/courses/course-v1:CodeInstitute+LR101+2021_T1/courseware/4a07c57382724cfda5834497317f24d5/6fd29d155c3b42248ff57bae32978a4b/ */

#hero-outer {
    width: 100%;
    position: relative;
    overflow: hidden;
}

#hero-image {
    height: 560px;
    width: 100%;
    background: linear-gradient(rgba(0, 31, 63, 0.5), rgba(0, 31, 63, 0.5)), url('../images/wreckless_eric_baby_jim.jpg') no-repeat center center;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

    @keyframes hero-zoom {
        from{
            transform: scale(1.45);
        }
        to{
            transform: scale(1.65);
        }
    }


#cover-text {
    text-align: center;
    width: 100%;
    max-width: 1280px;
    padding: 3em;
    box-sizing: border-box;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#cover-text h1 {
    color: #FF851B;
}

#cover-text p {
    color: #ffffff;
    font-weight: 700;
    padding-bottom: 2rem
}


/*learn about breeds section*/

#about-breeds {
    background: 
    linear-gradient(to bottom,  rgba(255, 255, 255, .7),  rgba(255, 255, 255, .7)),
    url('../images/about-breeds.jpg') no-repeat center center;
    /*Photo by Hannah Lim on Unsplash*/
    background-size: cover;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

    #about-breeds-heading {
        text-align: center;
        padding-top: 3em;
        max-width: 1280px;
        margin: auto;
        padding: 3em 3em 0 3em;
    }

    #about-breeds h2 {
        color: #85144B;
        text-align: center;
    }

    #about-breeds h3 {
        padding: 0.5rem 0 0.5rem 0;
        text-align: center;
    }

    #about-breeds p {
        color: #585160;
        font-weight: 700;
        padding-bottom: 3rem;
    }

.breeds {
    width: 100%;
    max-width: 1216px;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 4em;
}


/*meet the two dogs page*/

#meet {
    background-color: #85144B;
}

    #meet h2 {
        color: #FF851B;
    }

    #meet p {
        color: #ffffff;
    }

    #meet div, #meet img {
        max-width: 640px;
    }

    #meet div {
        padding-right: 3em;
        box-sizing: border-box;
    }

    #meet img {
        padding-left: 3em;
        box-sizing: border-box;
    }


/* dog profiles section */

#dog-profiles h2 {
    text-align: center;
    margin-top: 1em;
}

.single-profiles {
    width: 100%;
    margin: auto;
    padding: 3em 0 3em 0;
}

.circle-container {
    width: 240px;
    height: 240px;
    border-style: solid;
    border-color: #FF851B;
    border-width: 3px;
    border-radius: 50%;
    margin: auto;
}

#circle-cover-eric {
    background: url('../images/eric.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#circle-cover-jim {
    background: url('../images/jim.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

tr {
    text-align: left;
    padding-bottom: 1rem;
    vertical-align: top;
}

td {
    padding-left: 1rem;
}

/*tails of two dogs blog page*/

#blog-gallery {
    width: 100%;
    max-width: 1280px;
    box-sizing: border-box;
    clear: both;
    column-count: 3;
    column-gap: 3em;
    padding: 3em;
    margin: auto;
}

#blog-gallery p {
    padding-bottom: 1em;
}

#blog-gallery img {
    width: 100%;
    margin-bottom: 1em;
    height: 320px;
    object-fit: cover;
  }

  #blog-gallery hr {
    width: 100%;
    margin-bottom: 3em;
  }

#blog-post {
    max-width: 700px;
    margin: auto;
    padding-top: 3em;
}

ol {
    padding-left: 3em;
}

#blog {
    width: 100%;
    box-sizing: border-box;
    margin: 1em 0 1em 0;
    display: flex;
    align-items:center;
}

#blog div {
    width: 50%;
}

.img-text {
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
    display: flex;
    align-items:center;
}

.img-text p {
    padding-left: 1em;
}


/*gallery page*/

#gallery {
    width: 100%;
    max-width: 1280px;
    box-sizing: border-box;
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0.5em;
    margin: auto;
    padding: 0 3em 0 3em;
}

#gallery > img {
    width: 100%;
    margin-bottom: .5em;
}


/* sign up form*/

form {
    border: 1px solid #85144B;
    border-radius: 5px;
    padding: 3em;
    box-sizing: border-box;
    list-style: none;
}

*:focus {
    outline: none;
    }

input[type="text"], select {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    color: #585160;
    border: 1px solid #DEDCDF;
    border-radius: 3px;
    padding: 1em .5em 1em .5em;
    margin-bottom: 2em;
}

input[type="email"] {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    color: #585160;
    border: 1px solid #DEDCDF;
    border-radius: 3px;
    padding: 1em .5em 1em .5em;
    margin-bottom: 2em;
}

input[type="text"]:hover, select:hover {
    border: 1px solid #FF851B;
}

input[type="email"]:hover {
    border: 1px solid #FF851B;
}

input[type="text"]:focus, select:focus {
    border: 1px solid #001F3F;
}

input[type="email"]:focus {
    border: 1px solid #001F3F;
}

input[type="text"]:active, select:active {
    border: 1px solid #001F3F;
    appearance: none;
}

input[type="email"]:active {
    border: 1px solid #001F3F;
}

::placeholder {
    color: #DEDCDF;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 400;
  }

label {
    color: #001F3F;
    font-weight: 700;
    background-color: #ffffff;
}

#radio-group {
    padding-bottom: 1em;
}

#radio-group div {
    width: 100%;
    margin-right: 0;
}

#radio-group p {
    font-weight: 700;
    color: #001F3F;
}

/* radio -> W3Schools (29/08/22) How TO - Custom Checkbox https://www.sliderrevolution.com/resources/styling-radio-buttons/ */
.container {
    display: block;
    position: relative;
    padding-left: 2em;
    margin-bottom: 1em;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    color: #585160;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5em;
    width: 1.5em;
    background-color: #fff;
    border: 1px solid #585160;
    border-radius: 50%;
  }
  
  .container:hover input ~ .radio {
    border: 1px solid #FF851B;
  }
  
  .container input:checked ~ .radio {
    background-color: #fff;
  }
  
  .radio:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .radio:after {
    display: block;
  }
  
  .container .radio:after {
    top: 6px;
    left: 6px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #FF851B;
  }


/* back to top */

.back-to-top {
    padding: 2em 0 2em 0;
}

/*sign up banner*/

#sign-up-banner {
    background-color: #FF851B;
}

#sign-up-banner div {
    max-width: 1280px;
    margin: auto;
}


/*footer*/

.socials {
    text-align: center;
}

.socials li {
    display: inline;
}

.socials i {
    font-size: 1.5em;
    color: #001F3F;
    padding: 1.5em;
}

.socials i:hover {
    opacity: .75;
}


/* media queries */

@media screen and (min-width: 769px) {
    .max-width-background, .full-width-background, header, .breeds, #sign-up-banner {
     display: flex;
     padding: 3em;
     box-sizing: border-box;
 }

}

@media screen and (max-width: 768px) {
    #page-title, .breeds, #blog-gallery, #gallery, .max-width-background, .full-width-background {
        padding: 2em;
        box-sizing: border-box;
    }

    header > div, header > nav {
        width: 100%;
        display: block;
    }

    #gallery, #blog-gallery {
        column-count: 2;
    }

    header > div, #main-nav, .max-width-background > div, .max-width-background > img, .full-width-background > div, .full-width-background > img, button {
        width: 100%;
    }

    #sign-up-banner h3 {
        padding-bottom: 1em;
    }

    #meet div {
        padding-right: 0;
        box-sizing: border-box;
        max-width: 768px;
    }

    #meet img {
        padding-left: 0;
        box-sizing: border-box;
        max-width: 768px;
        padding-bottom: 1em;
    }

    #meet h2 {
        padding-bottom: 0.5em;
    }

    table {
        width: 60%;
        margin: auto;
    }

    #sign-up-form div {
        padding-bottom: 3em;
    }

}


@media screen and (max-width: 425px) {
    header, #page-title, #blog-gallery, #gallery, .max-width-background {
        padding: 1em;
        box-sizing: border-box;
    }

    #gallery, #blog-gallery {
        column-count: 1;
    }

    table {
        width: 100%;
        margin: auto;
    }


}