@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,700&family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8em;
    color: #585160;
	margin: 0 auto !important; 
	float: none !important; 
}

/* type */

h1 {
    font-size: 3.05rem;
    padding-bottom: 1rem;
}

h2 {
    font-size: 2.44375rem;
    padding-bottom: 1rem;
}

h3 {
    font-size: 1.95625rem;
}

h1, h2, h3, h4, h5{
    font-family: Arvo, Cambria, Cochin, serif;
    letter-spacing: 4px;
    color: #001F3F;
    line-height: 1.4em;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.caption {
    color: #FF851B;
    text-transform: uppercase;
    padding-bottom: 1rem;
}


/*buttons*/

button {
    border: none;
    border-radius: 5px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    justify-content: center;
    padding: 0.5em 1em 0.5em 1em;
    cursor: pointer;
    height: 3em;
    width: auto;
    min-width: 120px;
}

button a {
    text-decoration: none;
}

button:hover {
    opacity: .75;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-maroon {
    color: #ffffff;
    background-color: #85144B;
}

.btn-maroon-outline {
    color: #85144B;
    background-color: #ffffff;
    border: 2px solid #85144B;
}

.btn-orange {
    color: #001F3F;
    background-color: #FF851B;
}

.hyper-link {
    color: #85144B;
    text-decoration: underline;
    font-weight: 700;
}

/* img */

img {
    width: 100%;
}


/*hr*/

hr {
    border: 1px solid #DEDCDF;
    width: 100%;
}


/* header (main navigation, logo, sign up buton) */

header {
    display: flex;
    padding: 3em 0 2em 0;
    max-width: 1280px;
    margin: auto;
}

header div, nav {
    width: 33%;
}

#main-nav {
    font-size: 1rem;
    margin-left: 3em;
    float: left;
}

#main-nav li {
    float: left;
    list-style-type: none;
    margin-right: 2em;
}

#main-nav a {
    text-decoration: none;
    color: #001F3F;
}

#main-nav a:hover {
    border-bottom: 2px solid #FF851B;
}

.active {
    font-weight: 700;
    border-bottom: 2px solid #001F3F;
}

#logo {
    color: #FF851B;
    font-size: 4rem;
    font-weight: 700;
    font-family: Arvo, Cambria, Cochin, serif;
    letter-spacing: 4px;
    display: flex;
}
  
  #logo i {
    font-size: 2.8rem;
    text-align: center;
}

header button {
    float: right;
    margin-right: 3em;
}


/* page titles */

#page-title {
    padding: 3em;
    max-width: 1280px;
    margin: auto;
}

#page-title h2 {
    color: #585160;
}


/* hero image and text */

/* hero -> Code Institute (25/08/22) Love Running Walkthrough Project  Creating the Hero Image https://learn.codeinstitute.net/courses/course-v1:CodeInstitute+LR101+2021_T1/courseware/4a07c57382724cfda5834497317f24d5/6fd29d155c3b42248ff57bae32978a4b/ */
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 3em;
}

#cover-text {
    width: 50%;
    max-width: 1280px;
    background: transparent;
    top: 30%;
    left: 3rem;
    position: absolute;
}

#cover-text h1 {
    color: #FF851B;
}

#cover-text p {
    color: #ffffff;
    font-weight: 700;
    padding-bottom: 1rem
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

    @keyframes hero-zoom {
        from{
            transform: scale(1);
        }
        to{
            transform: scale(1.1);
        }
    }


/*learn about breeds section*/

#about-breeds {
    background: 
    linear-gradient(to bottom,  rgba(255, 255, 255, .7),  rgba(255, 255, 255, .7)),
    url('../images/about-breeds.jpg') no-repeat center center;
    /*Photo by Hannah Lim on Unsplash*/
    background-size: cover;
    width: 100%;
    overflow: hidden;
}

#about-breeds-heading {
    text-align: center;
    padding: 0 3em 0 3em;
    max-width: 1280px;
    margin: auto;
}

.breeds {
    color: #fafafa;
    width: 33.333333%;
    float: left;
    padding: 0 4em 0 4em;
    text-align: center;
    box-sizing: border-box;
    max-width: 426px;
}

#about-breeds h2 {
    color: #85144B;
    padding-top: 2rem;
    text-align: center;
}

#about-breeds h3 {
    padding: 0.5rem 0 0.5rem 0;
    text-align: center;
}

#about-breeds p {
    color: #585160;
    font-weight: 700;
    padding-bottom: 3rem;
}


/*meet the two dogs page*/

#meet {
    width: 100%;
    box-sizing: border-box;
    padding: 3em;
    background-color: #85144B;
    display: flex;
    align-items:center;
}

#meet div {
    width: 50%;
    max-width: 640px;
    border-radius: 5px;
}

#meet h2 {
    color: #FF851B;
}

#meet p {
    color: #ffffff;
    padding-bottom: 1rem;
}


/* dog profiles section */

#dog-profiles {
    width: 100%;
    max-width: 1280px;
    box-sizing: border-box;
    margin: 3em 0 3em 0;
    display: flex;
    align-items:center;
}

#dog-profiles h2 {
    text-align: center;
    margin-top: 1em;
}

.single-profiles {
    width: 50%;
    padding: 3em;
}

.circle-container {
    width: 240px;
    height: 240px;
    border-style: solid;
    border-color: #FF851B;
    border-width: 3px;
    border-radius: 50%;
    margin: auto;
}

#circle-cover-eric {
    background: url('../images/eric.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#circle-cover-jim {
    background: url('../images/jim.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

tr {
    text-align: left;
    padding-bottom: 1rem;
}

td {
    padding-left: 1rem;
}

/*tails of two dogs blog page*/

#latest-post {
    width: 100%;
    max-width: 1280px;
    box-sizing: border-box;
    padding: 0 3em 3em 3em;
    background-color: #ffffff;
    margin: auto;
    display: flex;
    align-items:center;
}

#latest-post div {
    width: 50%;
    border-radius: 5px;
}

#latest-post h2 {
    color: #001F3F;
}

#latest-post p {
    padding-bottom: 1rem;
}

.post-listing {
    background-color: white;
    padding: 3rem;
    margin-top: 1rem;
    float: left;
    width: 33%;
    box-sizing: border-box;
  }

  .post-listing p {
    margin-bottom: 1rem;
  }

  .blog-img {
    width: 100%;
    padding-bottom: 1em;
  }

#blog-post {
    max-width: 700px;
    margin: auto;
}

ol {
    padding-left: 3em;
}

#blog {
    width: 100%;
    box-sizing: border-box;
    margin: 1em 0 1em 0;
    display: flex;
    align-items:center;
}

#blog div {
    width: 50%;
    border-radius: 5px;
}

.img-text {
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
    display: flex;
    align-items:center;
}

.img-text p {
    padding-left: 1em;
}


/*gallery page*/

#gallery {
    width: 100%;
    box-sizing: border-box;
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 8px;
}

#gallery > img {
    width: 100%;
    padding-bottom: .5em;
}


/*sign up page*/

#sign-up-form {
    width: 100%;
    max-width: 1280px;
    box-sizing: border-box;
    background-color: #ffffff;
    display: flex;
    align-items:center;
    padding: 0 3em 0 3em;
}


/* sign up form*/

form {
    border: 1px solid #85144B;
    border-radius: 5px;
    padding: 2em;
    margin-right: 3em;
    list-style: none;
}

*:focus {
    outline: none;
    }

input[type="text"], select {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    color: #585160;
    border: 1px solid #DEDCDF;
    border-radius: 3px;
    padding: 1em .5em 1em .5em;
    margin-bottom: 2em;
}

input[type="email"] {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    color: #585160;
    border: 1px solid #DEDCDF;
    border-radius: 3px;
    padding: 1em .5em 1em .5em;
    margin-bottom: 2em;
}

input[type="text"]:hover, select:hover {
    border: 1px solid #FF851B;
}

input[type="email"]:hover {
    border: 1px solid #FF851B;
}

input[type="text"]:focus, select:focus {
    border: 1px solid #001F3F;
}

input[type="email"]:focus {
    border: 1px solid #001F3F;
}

input[type="text"]:active, select:active {
    border: 1px solid #001F3F;
    appearance: none;
}

input[type="email"]:active {
    border: 1px solid #001F3F;
}

::placeholder {
    color: #DEDCDF;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 400;
  }

label {
    color: #001F3F;
    font-weight: 700;
    background-color: #ffffff;
}

#radio-group {
    width: 100%;
    padding-bottom: 1em;
}

#radio-group p {
    font-weight: 700;
    color: #001F3F;
}

/* radio -> W3Schools (29/08/22) How TO - Custom Checkbox https://www.sliderrevolution.com/resources/styling-radio-buttons/ */
.container {
    display: block;
    position: relative;
    padding-left: 2em;
    margin-bottom: 1em;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    color: #585160;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5em;
    width: 1.5em;
    background-color: #fff;
    border: 1px solid #585160;
    border-radius: 50%;
  }
  
  .container:hover input ~ .radio {
    border: 1px solid #FF851B;
  }
  
  .container input:checked ~ .radio {
    background-color: #fff;
  }
  
  .radio:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .radio:after {
    display: block;
  }
  
  .container .radio:after {
    top: 6px;
    left: 6px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #FF851B;
  }


/* back to top */

.back-to-top {
    margin: 2em 0 2em 0;
    display: flex;
    justify-content: center;
}

/*sign up banner*/

#sign-up-banner {
    width: 100%;
    box-sizing: border-box;
    padding: 2em 3em 2em 3em;
    background-color: #FF851B;
    display: flex;
}

#sign-up-banner div {
    max-width: 1280px;
    margin: auto;
}

#sign-up-banner button {
    float: right;
}


/*footer*/
footer {
    padding: 3em;
}

.socials {
    text-align: center;
}

.socials li {
    display: inline;
}

.socials i {
    font-size: 1.5em;
    color: #001F3F;
    padding-right: 3rem;
}

.socials i:hover {
    opacity: .75;
}

/* media queries */

@media screen and (max-width: 992px) {
    #header {
        display: flex;
    }

}

@media screen and (max-width: 976px) {
    #cover-text {
        width: 75%;
    }

}

@media screen and (max-width: 703px) {
    #cover-text {
        top: 25%;
    }

}

@media screen and (max-width: 448px) {
    #cover-text {
        margin: auto;
    }

}