@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,700&family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #555555;
}

/* headings and paragraph */

h1 {
    font-size: 3.05rem;
}

h2 {
    font-size: 2.44375rem;
}

h3 {
    font-size: 1.95625rem;
}

h1, h2, h3, h4, h5{
    font-family: Arvo, Cambria, Cochin, serif;
    letter-spacing: 4px;
    color: #001F3F;
    display: inline-block;
}


/*buttons*/

button {
    border: none;
    border-radius: 5px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    justify-content: center;
    padding: 0.5em 1em 0.5em 1em;
    cursor: pointer;
    height: 3em;
    width: auto;
    min-width: 120px;
}

button a {
    text-decoration: none;
}

button:hover {
    opacity: .5;
}

.btn-maroon {
    color: #ffffff;
    background-color: #85144B;
}

.btn-orange {
    color: #85144B;
    background-color: #FF851B;
}


/* header, navigation, logo, sign up */

header {
    display: inline;
    padding: 1em 3em 1em 3em;
}

#menu {
    font-size: 1rem;
    letter-spacing: 4px;
    margin-left: 3em;
}

#logo {
    float: right;
    font-size: 4rem;
    color: #FF851B;
    text-decoration: none;
    margin: 1rem 0 2rem 0;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 2em;
}

#menu a {
    text-decoration: none;
    color: #001F3F;
}

#menu a:hover {
    border-bottom: 1px solid #001F3F;
}

.active {
    font-weight: 700;
    border-bottom: 1px solid #001F3F;
}

header button {
    float: right;
    margin-right: 3em;
}


/* hero image and cover text */

#hero-outer {
    height: 520px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text {
    width: 50%;
    background: transparent;
    bottom: 30px;
    right: 150px;
    position: absolute;
}

#cover-text h1 {
    color: #FF851B;
}

#cover-text p {
    color: #ffffff;
    font-weight: 700;
    padding-bottom: 1rem
}

#hero-image {
    height: 520px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

    /* creates the level of zoom for hero image */
    @keyframes hero-zoom {
        from{
            transform: scale(1);
        }
        to{
            transform: scale(1.1);
        }
    }


/*latest post*/

#latest-post {
    width: 100%;
    box-sizing: border-box;
    padding: 0 3em 0 3em;
    background-color: #ffffff;
    margin: 3em 0 3em 0;
    vertical-align: middle;
}

#latest-post-img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    box-sizing: border-box;
    float: left;
}

#latest-post-text {
    width: 50%;
    box-sizing: border-box;
    padding: 3em;
    vertical-align: middle;
    display: inline-block;
    float: right;
}

.caption {
    color: #FF851B;
    text-transform: uppercase;
    padding-bottom: 1rem;
}

.post-title {
    color: #001F3F;
}

#latest-post-text p {
    padding-bottom: 1rem;
}


/*breeds*/

#about-breeds {
    background: url('../images/about-breeds.jpg') no-repeat center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#about-breeds div {
    color: #fafafa;
    background-color: rgba(255, 255, 255, .7);
    width: 33%;
    height: 400px;
    float: left;
    padding: 5em 4em 4em 4em;
    text-align: center;
    border-right: solid 4px white;
    box-sizing: border-box;
}

#about-breeds h3 {
    color: #001F3F;
}

#about-breeds p {
    color: #555555;
    font-weight: 700;
}


/*sign up banner*/

#sign-up-banner {
    width: 100%;
    box-sizing: border-box;
    padding: 3em;
    background-color: #FF851B;
    display: inline-block;
    vertical-align: middle;
}

#sign-up-banner h2 {
    float: left;
}

#sign-up-banner button {
    float: right;
}


/*footer*/
footer {
    padding: 3em;
}

.socials {
    text-align: center;
}

.socials li {
    display: inline;
}

.socials i {
    font-size: 1.5em;
    color: #85144B;
    padding-right: 3rem;
}